extends template.pug

block content
    
    if houses
        div(class = "formContainer houseContainer") 
            each house in houses

                div(class = "houseCon", id=house.id)
                    h2=house.address
                    p=house.description
                    if(house.price)
                        p="Pris: "+house.price
                    if(user)
                        if(house.ownerId==user.id)
                            button(data-type="delete",class="deleteButton", houseid=house.id) Delete house

                    if(house.tasks)
                        each task in house.tasks
                            div(class = "taskCon" id=task.id)
                                p=task.taskName
                                p=task.procent+"-100"
                                if(task.usertasks)
                                    if(task.usertasks.length>0)
                                        h3 Workers som jobbar på tasket:
                                    each userTask in task.usertasks 
                                        if(userTask.user)
                                            each u in userTask.user
                                                div(class="userTask",id=userTask.id)
                                                    p=u.name
                                                    if(user)
                                                        if(user.id==userTask.userId || house.ownerId==user.id)
                                                            button(data-type="delete",class="userTaskDeleteButton", userTaskId=userTask.id) Delete usertask
                                if(user)
                                    if(house.ownerId==user.id)
                                        button(data-type="delete",class="taskDeleteButton", taskid=task.id) Delete task
                                
                                if(user)
                                    if(user.worker==false)
                                        form(action="/usertasks", method="post")
                                            input(type="text", name="name", required)
                                            input(type="hidden", name="taskId", value=task.id, required)
                                            input(type="submit", value = "Enter task")   


                    if(user)
                        if(user.worker==false)
                            form(action="/tasks", method="post")
                                input(type="text", name="taskName", placeholder="task name", required)
                                input(type="number", name="procent", placeholder="Procent 0-100", required)
                                input(type="hidden", name="houseId",value=house.id, required)
                                input(type="submit", value = "Add")
