extends template.pug

block content
    
    if houses
        div(class = "formContainer houseContainer") 
            each house in houses
                div(class = "houseCon", id=house.id)
                    h2(id=house.id+":houseAddress")=house.address
                    p(id=house.id+":houseDesc")=house.description
                    if(house.price)
                        p(id=house.id+":housePrice")="Pris: "+house.price
                    if(user)
                        if(house.ownerId==user.id)
                            button(data-type="delete",class="deleteButton", houseid=house.id) Delete house
                    button(class="toggleButton", toggleTarget=house.id+"updHousebtn") Edit house
                    if(user)
                        if(user.worker==false)
                            button(class="toggleButton", toggleTarget=house.id+"addUserHousebtn") Add user
                            button(class="toggleButton", toggleTarget=house.id+"addTaskBtn") Add task
                        button(class="toggleButton", toggleTarget=house.id+"addSuggestionBtn") Add Suggestion
                    include includes/updHouse.pug
                    if(user)
                        if(user.worker==false)
                            
                            include includes/createUserHouse.pug
                            include includes/createTask.pug
                    include includes/createSuggestion.pug
                    include includes/userHouses.pug
                    if(house.tasks)
                        if(house.tasks.length)
                            if(house.tasks.length>0)
                                h2 Tasks:
                    if(house.user)
                    if(house.tasks)
                        each task in house.tasks
                            include includes/task.pug           
                    if(house.suggestions)
                        if(house.suggestions.length)
                            if(house.suggestions.length>0)
                                h2 Suggestions:
                        each suggestion in house.suggestions 
                            div(class = "taskCon" id=suggestion.id)
                                p(id=suggestion.id+":suggestionText")=suggestion.text
                                p=suggestion.date
                                p="Skrivet av: "+user.name
                                if(house.ownerId==user.id || suggestion.userId==user.id)
                                button(class="toggleButton", toggleTarget=suggestion.id+"updSuggestionbtn") Edit Suggestion
                                button(data-type="delete",class="suggestionDeleteButton", suggestionId=suggestion.id) Delete Suggestion
                                include includes/updSuggestion.pug
                            
                            
                            


