doctype html
html 
    head 
        link(href="style.css", rel="stylesheet")
        script(src="client.js" defer) 
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(charset="utf-8")

        if title
            title=title 
        else 
            title Default title from pug...

    body 
        header
            
            h1 WEBBXAMI
            if(user)
                form(action="/logout", method="post")
                    input(type="submit", value = "logout")   
                p="inloggad"
                p=user.name
                p=user.password
                if(houses.length==0)
                    if(user.worker==true)
                        p du har inte blivit tilldelad till några hus 
                    else 
                        p du har inte skapat hus
                
        main 


            

            if(user)
                if(user.worker==false)
                    div(class="workerList")
                            
                        if workers
                            if(workers.length>0)
                                h2 Workers som man kan lägga till i tasks
                            each worker in workers
                                p=worker.name

                    form(action="/houses", method="post")
                        input(type="text", name="address", placeholder="house address",required)
                        input(type="text", name="description", placeholder="Description" required)
                        input(type="number" name="price", placeholder="price (number)", required)
                        input(type="submit", value = "Add")



            
            
            div(class="usercon")
                if(user)
                    if(user.worker==false)
                        div(class="createform")
                            form(action="/users", method="post")
                                input(type="text", name="name", placeholder="name",required)
                                input(type="password", name="password", placeholder="Lösenord" required)
                                input(type="checkbox", name="worker", placeholder="Lösenord",class="checkbox")
                                input(type="submit", value = "Create user")
                
                if(user==undefined)
                    div(class="createform")
                        form(action="/login", method="post")
                            input(type="text", name="name", placeholder="name",required)
                            input(type="password", name="password", placeholder="Lösenord" required)
                            input(type="submit", value = "login user")


                if(user)         
            block content

        footer 
            h2 
                i end of page...