div(class="fieldCon")
    h1 Suggestions:
    button(class="toggleButton", toggleTarget=house.id+"addSuggestionBtn") Add Suggestion
    include suggestionIncludes/createSuggestion.pug
if(house.suggestions)
    each suggestion in house.suggestions 
        div(class = "fieldCon", id=suggestion.id)
            h3(id=suggestion.id+":suggestionText")="Title: "+suggestion.text
            if(suggestion.description)
                p(id=suggestion.id+":suggestionDesc")="Description: "+suggestion.description 
            p="Date: "+suggestion.date
            if(suggestion.user)
                p="Skrivet av: "+suggestion.user.name
            if(suggestion.userId==user.id || house.ownerId==user.id)
                button(class="toggleButton", toggleTarget=suggestion.id+"updSuggestionbtn") Edit Suggestion
                button(data-type="delete",class="suggestionDeleteButton", suggestionId=suggestion.id) Delete Suggestion
                include suggestionIncludes/updSuggestion.pug