div(class="fieldCon")
    h1 List of tasks:
    if(user.worker==false)  
        button(class="toggleButton", toggleTarget=house.id+"addTaskBtn") Add task
        include taskIncludes/createTask.pug
if(house.tasks)
    each task in house.tasks
        div(id=task.id class="fieldCon")
            h2(id=task.id+":taskName")=task.taskName
            p(id=task.id+":taskProcent")=task.procent+"-100"
            button(class="toggleButton", toggleTarget=task.id+"updTaskbtn") Edit task
            button(data-type="delete",class="taskDeleteButton", taskId=task.id) Delete task
            button(class="toggleButton", toggleTarget=task.id+"addUserTaskbtn") Add user
            include taskIncludes/updTask.pug 
            include taskIncludes/createUserTask.pug 
            h3 Workers in task:
            if(task.usertasks)
                each usertask in task.usertasks
                    div(id=usertask.id)
                        if(usertask.user) 
                            p="Namn:"+usertask.user.name
                        button(data-type="delete",class="userTaskDeleteButton", userTaskId=usertask.id) Delete user from task
    if workers
        h4 Workers som man kan lägga till i tasks
        each worker in workers
            p=worker.name
