form(action="/workertasks", method="post" id=task.id+"addWorkerTaskbtn",  class="addWorkerTaskbtn toggleList")
    if(workers)
        label(for=house.id+":workerList") Name of the worker to be added:
        select(id=house.id+":workerList" name="name" form=task.id+"addWorkerTaskbtn",required)
            each worker in workers 
                option(value=worker.name)=worker.name
    input(type="hidden", name="taskId",value=task.id, required)
    input(type="hidden", name="houseId",value=house.id, required)
    input(type="submit", value = "Add worker to house")